.login-page {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
}

.login-sidebar {
  width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-sidebar button {
  background: none;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}

.login-sidebar button span {
  margin-right: 8px;
  font-size: 22px;
}

.login-sidebar .contact-info {
  font-size: 0.9rem;
    margin-top: 20px;
}

.login-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-box label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 6px;
  text-align: left;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  background-color: #1abc9c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background-color: #16a085;
}
